# OS / Editor junk
.DS_Store
.netrwhist
*.swp
*.swo
*.spl
*.sug

# Tmux logs
tmux-*.log

# Secrets & Machine-specific overrides
.env
**/*.local
**/secrets
**/system.conf

# Plugin source code
tmux/.config/tmux/plugins/

# IPython history
ipython/.ipython/profile_default/history.sqlite
